main {
  min-width: 540px;
}

article {
  max-width: 1200px;
}

article div {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
  /* max-width: 1050px; */
  line-height: 0.5;
  font-family: cursive;
  text-align: center;
  margin: auto;
}

.instructions {
  background-color: rgb(214, 247, 216);
  border-radius: 25px;
}

#playersSideBySide {
  display: flex;
  flex-direction: row;
  /* background image */
  background-image: url(./images/background_dice.png);
  background-size: 100px;
  background-position: center;
  margin: 16px 0;
}

.diceImageDisplay {
  width: 30vw;
  padding: 20px;
  min-width: 250px;
  max-width: 400px;
  /* animation: jump-shaking 0.83s infinite; */
}

#interface {
  background-color: rgb(214, 238, 238);
  border-radius: 25px;
  line-height: 0.5;
  width: 90%;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rollDiceButton {
  margin-bottom: 20px;
  scale: 2;
}

.holdButton {
  margin-bottom: 20px;
  scale: 2;
}

@media (min-width: 1000px) {
  #diceImage {
    width: 500px;
  }
}

@keyframes jump-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateY(-9px);
  }
  35% {
    transform: translateY(-9px) rotate(17deg);
  }
  55% {
    transform: translateY(-9px) rotate(-17deg);
  }
  65% {
    transform: translateY(-9px) rotate(17deg);
  }
  75% {
    transform: translateY(-9px) rotate(-17deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
